.leaflet-container {  width: 50vw;  height: 50vh;}

.appHeader {
    background-color: #00ACEE;
    color: white;
}

.appHeaderLink {
    font-weight: bold;
}

.appBody {
    background-color: #f3f9ff;
    border-left: solid 1px #9fcbf8;
    border-right: solid 1px #9fcbf8;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: -25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
